@model SuperHeroCreator.Models.Superheros

@{
    ViewBag.Title = "Read";
}

<h2>Read</h2>

<div>
    <h4>Superheros</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
